body {
  margin: 0;
  font-family: "Times New Roman", Times, serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.full-page {
  background-color: bisque;
}
code {
  font-family: "Times New Roman", Times, serif;
}

.App {
  background-color: bisque;
  margin-bottom: 5%;
}

.app-title {
  padding-top: 3%;
  font-size: 400%;
  text-align: center;
  padding-bottom: 3%;
  color: black;
  background-color: white;
  box-shadow: 0px 0px 10px black;
  margin-bottom: 2%;
  font-style: italic;
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
}

.recipe-page {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 columns in the grid */
  grid-auto-rows: auto;
  grid-gap: 1rem;
  padding: 5%;
}

.card {
  background-color: white;
  border: 5px solid gray;
  border-radius: 20px;
  overflow: hidden;
  transition: transform 0.3s ease;
  box-shadow: 0px 0px 10px black;
  display: flex;
  flex-direction: column;
  font-family: "Times New Roman", Times, serif;
}

.card:hover {
  transform: translateY(-10px);
}

.card-photo {
  max-height: 100px;
  overflow: hidden;
}

.card-image img {
  width: 100%;
  height: auto;
}

.card-content {
  padding: 5%;
  text-align: center;
}

.card-name {
  font-size: 2rem;
  margin: 0;
}

p.card-ingred {
  font-size: 1rem;
  color: black;
  text-align: center;
}

.ingredient-box {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
  text-align: center;
}

.search-side {
  padding: 5px;
  text-align: center;
  box-shadow: 0px 0px 10px black;
  background-color: white;
  margin: 1%;
  border-radius: 20px;
  font-family: "Times New Roman", Times, serif;
}

.recipe-index-page {
  margin-top: 2%;
}

#searchBar {
  text-align: center;
  border-radius: 20px;
}

/* Form CSS */
.app-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  text-align: center;
  box-shadow: 0px 0px 10px black;
  background-color: white;
  margin: 1%;
  border-radius: 20px;
  font-family: "Times New Roman", Times, serif;
}
.form-row {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 500px;
  margin-bottom: 10px;
}
.form-row-left {
  flex: 1;
  margin-right: 10px;
}
.form-row-right {
  flex: 1;
  margin-left: 10px;
}
.btn.add-recipe-button {
  background-color: bisque;
}
.btn.add-recipe-button:hover {
  background-color: #d2b48cd7; /* slightly darker shade */
  border-color: #b8860b; /* darker shade for hover border */
}
.btn.add-recipe-button:active {
  background-color: #d2b48cd7; /* same as hover border color */
  border-color: #b8860b; /* slightly darker shade for active border */
}
.input-ingr {
  text-align: center;
}
.input-step {
  text-align: center;
}

.custom-border {
  border: 1px solid #ccc;
  box-shadow: 0px 0px 10px black;
}

#instructions-div-container {
  background-color: white;
}

#ingredients-div-container {
  background-color: white;
}

.image-border {
  border: 1px solid #ccc;
  box-shadow: 0px 0px 10px black;
}

.btn.btn-light {
  background-color: bisque;
}

.btn.btn-light:hover {
  background-color: #d2b48cd7; /* slightly darker shade */
  border-color: #b8860b; /* darker shade for hover border */
}

.btn.btn-light:active {
  background-color: #d2b48cd7; /* same as hover border color */
  border-color: #b8860b; /* slightly darker shade for active border */
}
